* {
    font-family: "Baskerville Old Face";
}
div {
    height: fit-content;
    border: 1px solid #1b335f;
    margin: 0;
    padding: 2px;
}

div:hover {
    background-color: #ffb0fe;
}

div:hover h2 {
    color: #680747;
}

span {
    border: 1px solid #680747;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

#searchComplex {
    height: 70px;
    border: 2px solid #ffb0fe;
    background-color: #1b335f;
    font-size: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

select {
    color: #1b335f;
    background-color: white;;
    font-size: 18px;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    border: 9px solid #ffb0fe;
    border-bottom: 11px solid #ffb0fe;
}

option {
    color: #1b335f;
    background-color: white;
    font-size: 18px;
    text-align: left;
}
#searchBar {
    color: #1b335f;
    background-color: white;
    width: 400px;
    font-size: 18px;
    border: 7px solid #ffb0fe;
    text-align: left;
}
#searchButton {
    background-color: #ffb0fe;
    width: 30px;
    border: 7px solid #ffb0fe;
}

select:hover, span:hover {
   cursor: pointer;
}

#searchButton:hover {
   cursor: pointer;
}

h2 {
   font-family: "Arial";
    color: #f70776;
    display: inline-block;
}
h3,h4,h5 {
font-family: "Arial";
   margin: 0 0 0 0; /* This is done in order to remove space from above and below the headings */
}

h4 {
   color: gray;
}
.book {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   border: none;
   margin: 7px;
}
